In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
##Index objects


my_ser =Series([1,2,3,4],index = ['A','B','C','D'])

In [4]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
my_index = my_ser.index

In [6]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [7]:
my_index[2] ##specify index value

'C'

In [8]:
my_index[0]

'A'

In [9]:
my_index[1]

'B'

In [10]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [12]:
my_index[0] = 'z' ##getting error becoz indexes are immutable(unchangeable)

TypeError: Index does not support mutable operations

In [14]:
##Reindexing


from numpy.random import randn

In [15]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])

In [16]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [17]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [18]:
ser2  ##for E and F it shows null values

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [19]:
ser2.reindex(['A','B''C','D','E','F','G'],fill_value =0) ##As new index is added up the value would be 0 as per the condition

A     1.0
BC    0.0
D     4.0
E     NaN
F     NaN
G     0.0
dtype: float64

In [20]:
ser3 = Series(['USA','Mexcio','Canda'],index=[0,5,10])

In [21]:
ser3

0        USA
5     Mexcio
10     Canda
dtype: object

In [22]:
ranger = range(15)

In [23]:
ranger

range(0, 15)

In [24]:
ser3.reindex(ranger,method = 'ffill')  #forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexcio
6     Mexcio
7     Mexcio
8     Mexcio
9     Mexcio
10     Canda
11     Canda
12     Canda
13     Canda
14     Canda
dtype: object

In [32]:
##creating a dataframe

DataFrame =DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],columns = ['col1','col2','col3','col4','col5'])

In [33]:
DataFrame

       col1      col2      col3      col4      col5
A -1.025191 -0.861356 -0.136231 -0.394966 -0.235532
B  0.641077 -0.040753 -0.166997  0.555816  0.926497
D  0.377834 -0.036199  1.885224  0.605976 -1.218868
E -0.426924 -1.452273  0.457209  2.197109 -0.192669
F -1.371112 -0.651798  0.604858  0.240674  0.244491

In [34]:
DataFrame2 = DataFrame.reindex(['A','B','C','D','E','F'])

In [35]:
DataFrame2  ##index C has null values

       col1      col2      col3      col4      col5
A -1.025191 -0.861356 -0.136231 -0.394966 -0.235532
B  0.641077 -0.040753 -0.166997  0.555816  0.926497
C       NaN       NaN       NaN       NaN       NaN
D  0.377834 -0.036199  1.885224  0.605976 -1.218868
E -0.426924 -1.452273  0.457209  2.197109 -0.192669
F -1.371112 -0.651798  0.604858  0.240674  0.244491

In [36]:
new_columns  = ['col1','col2','col3','col4','col5','col6']

In [37]:
DataFrame2.reindex(columns = new_columns)    ##col6 has null values

       col1      col2      col3      col4      col5  col6
A -1.025191 -0.861356 -0.136231 -0.394966 -0.235532   NaN
B  0.641077 -0.040753 -0.166997  0.555816  0.926497   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.377834 -0.036199  1.885224  0.605976 -1.218868   NaN
E -0.426924 -1.452273  0.457209  2.197109 -0.192669   NaN
F -1.371112 -0.651798  0.604858  0.240674  0.244491   NaN

In [39]:
DataFrame

       col1      col2      col3      col4      col5
A -1.025191 -0.861356 -0.136231 -0.394966 -0.235532
B  0.641077 -0.040753 -0.166997  0.555816  0.926497
D  0.377834 -0.036199  1.885224  0.605976 -1.218868
E -0.426924 -1.452273  0.457209  2.197109 -0.192669
F -1.371112 -0.651798  0.604858  0.240674  0.244491