In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
##Series


obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ww2_cas = Series([8700000,4300000,3000000,2100000,4000000],index=['USSR','Germany','china','USA','Japan'])

In [10]:
ww2_cas

USSR       8700000
Germany    4300000
china      3000000
USA        2100000
Japan      4000000
dtype: int64

In [11]:
ww2_cas['USA']

2100000

In [12]:
#checking which countries had casualties greater than 4million 
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [13]:
'USSR' in ww2_cas   ##boolean

True

In [14]:
ww2_dict =ww2_cas.to_dict()   ##converting series into dictionary

In [15]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'china': 3000000,
 'USA': 2100000,
 'Japan': 4000000}

In [16]:
ww2_series=Series(ww2_dict)  ##converting dictonary to series

In [17]:
ww2_series

USSR       8700000
Germany    4300000
china      3000000
USA        2100000
Japan      4000000
dtype: int64

In [19]:
countries = ['china','Germany','Japan','USA','USSR','Argentina']

In [20]:
obj2 = Series(ww2_dict,index = countries)

In [21]:
obj2

china        3000000.0
Germany      4300000.0
Japan        4000000.0
USA          2100000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [22]:
pd.isnull(obj2) ##Argentina is null

china        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [23]:
pd.notnull(obj2)

china         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [24]:
ww2_series

USSR       8700000
Germany    4300000
china      3000000
USA        2100000
Japan      4000000
dtype: int64

In [25]:
##labelling


ww2_series + obj2

Argentina           NaN
Germany       8600000.0
Japan         8000000.0
USA           4200000.0
USSR         17400000.0
china         6000000.0
dtype: float64

In [26]:
obj2.name = "world war 2 casualities"

In [27]:
obj2

china        3000000.0
Germany      4300000.0
Japan        4000000.0
USA          2100000.0
USSR         8700000.0
Argentina          NaN
Name: world war 2 casualities, dtype: float64

In [28]:
obj2.index.name = 'countries'

In [29]:
obj2

countries
china        3000000.0
Germany      4300000.0
Japan        4000000.0
USA          2100000.0
USSR         8700000.0
Argentina          NaN
Name: world war 2 casualities, dtype: float64